*.cache
composer.phar
vendor/
examples/hashresult.php

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/
.tmp/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml